@import "core/variables";

body {
  background: $color-white;
  margin: 0;
  height: 100vh;
  font-family: 'Hind Siliguri', sans-serif;

}
.page__wrapper {

}
.tittle {
  font-family: 'Indie Flower', cursive;
}
.data {

  &--counter {
  
  }
}
.btn {
  &-check {
  
  }
}
.btn_reset {

}
.clue {
}
 
.input {
  &-label {
    
  }
}
//Js class
.hidden {
  display: none;
}
.show {
  display: inline;
}