@import "core/variables";

body {
  background: $color-white;
  margin: 0;
  height: 100vh;
  font-family: 'Hind Siliguri', sans-serif;

}
.page__wrapper {

}
.tittle {
  font-family: 'Indie Flower', cursive;
}
.data {

  &--counter {
  
  }
}
.btn {
  &-check {
  
  }
}
.btn_reset {

}
.clue {
  line-height: 16px;
  border: 3px solid #6587da;
  padding: 30px;
  width: 80%;
  font-size: 24px;
  text-align: center;
  color: #0c4492;
}
 
.input {
  &-label {
    
  }
}
.price {
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 2px 3px 3px black;
}
//Js class
.hidden {
  display: none;
}
