<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <div class="page__wrapper">
      <h1 class="tittle">Adivina el número</h1>
      <h2 class="js-score"></h2>
      <form action="" class="data">
        <label for="number"> Introduce aquí tu número </label>
        <input type="text" class="js-input" name="number" />
        <button type="submit" class="js-check">Prueba</button>
      </form>
      <p class="clue">Aquí el texto</p>
      <button type="button" class="js-btnReset hidden">Juega de nuevo</button>
    </div>
    <script src="./assets/js/main.js"></script>
  </body>
</html>
